*{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    outline: none;
}

body{
    background: #18AA9E;
}

.nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
    border-bottom: 1px solid #7ecebe;
    z-index: 9;
}

.navleft{
    width: 20%;
    /* border: 1px solid orange; */
}
.navleft>a>img{
    cursor: pointer;
    width: 20%;
    color: white;
}
.navcenter{
    width: 50%;
    /* border: 1px solid rosybrown; */
}


.navright{
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 20%;
    /* border: 1px solid orange; */
}

.navright>p{
    color: #00C8AF;
    font-size: 20px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    /* border: 1px solid; */
}
.form{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75vh;
    width:33vw;
    border-radius: 3px;
    padding: 1.5rem;
    box-sizing: border-box;
}

.form>h1{
    color: #6a6b6b;
    height: 8vh;
    font-weight: lighter;
}

.form>input{
    background: #fbfbfb;
    height: 8vh;
    border: 1px solid #6a6b6b;
    box-shadow: rgb(241, 241, 241) 0px 1px 0px 0px inset;
    border-radius: 3px;
    color: #6a6b6b;
    font-size: 17px;
    
}

.form>p{
    color: #7d8891;
    font-size: 20px;
}

.form>button{
    background: #00c8af;
    color: white;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    transition: 1s;
}


.form>button:hover{
    background: black;
    transition: 1s;
    font-weight: lighter;
    color: #00c8af;
    cursor: pointer;
}

.form>a{
 color: #00C8AF;
 font-size: 14px;
}

.form>a:hover{
    color: #2a6496;
   }